.header {
  background: linear-gradient(#006663, #111111);
  width: 100vw;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;

    a {
      display: block;
      text-decoration: none;

      .logo-image {
        height: 50px;
        width: auto;
      }
    }
  }

  // Navigation links for larger screens
  .desktop-nav {
    display: none;  // Hidden on mobile

    @media (min-width: 769px) {
      display: block;

      .nav-links {
        list-style: none;
        display: flex;  /* Ensure flex for larger screens */
        gap: 50px;
        padding: 0;
        margin: 0;

        li {
          a,
          .link-button {
            text-decoration: none;
            color: #f8f8f8;
            font-family: 'Playfair Display', serif;
            font-size: large;
            font-weight: 700;
            transition: color 0.3s;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;

            &:hover {
              color: #0056b3;
            }
          }
        }
      }
    }
  }

  // Burger icon for mobile devices
  .burger-icon {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: #f8f8f8;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
    }
  }

  // Sidebar for mobile devices
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #111111;
    transition: right 0.3s ease;
    z-index: 999;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

    .nav-links {
      display: block;
      gap: 15px;

      li {
        a,
        .link-button {
          display: block;
          padding: 10px 0;
        }
      }
    }

    &.open {
      right: 0;  /* Slide in sidebar when open */
    }
  }

  // Apply button styles
  .apply-button {
    .btn-apply {
      text-decoration: none;
      background-color: #000000;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-family: 'Playfair Display', serif;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
