.services {
  background-color: #03c2e3fc;
  padding: 60px 0;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;

  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #ffffff;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

    .service-card {
      /* From https://css.glass */
background: rgba(43, 40, 40, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
border: 1px solid rgba(43, 40, 40, 1);
      border-radius: 10px;
      padding: 30px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, transparent, rgba(255, 221, 87, 0.5), transparent);
        transition: left 0.3s ease;
      }

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

        &:before {
          left: 100%;
        }
      }

      h3 {
        font-size: 1.6rem;
        margin-bottom: 15px;
        color: #333;
        font-weight: bold; /* Strengthen subheadings */
      }

      p {
        font-size: 1.1rem; /* Increased font size */
        color: #ffffff;
        list-style: none; /* No list style */
        line-height: 1.7;
      }
    }
  }

  .service-details {
    padding: 20px;

    h1, h2, h3 {
      font-weight: bold; /* Strong headings */
      margin-bottom: 20px;
      color: #f5f5f5;
    }

    h1 {
      font-size: 2.5rem; /* Stronger main heading */
    }

    h2 {
      font-size: 2rem; /* Stronger subheading */
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem; /* Increased font size */
      color: #ffffff;
      line-height: 1.7;
    }

    ul {
      list-style: none; /* Remove default list styling */
      padding-left: 0;

      li {
        font-size: 1.1rem; /* Larger font for list items */
        line-height: 1.7;
        padding: 5px 0;
        color: #fff;
      }
    }

    button {
      background-color: #20a7bf;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #1a8fa0;
      }
    }
  }
}

#services {
  width: 100vw;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to right, #da4453, #89216b);

}
